In [5]:
import os
os.chdir('/home/bonzo_yang/gitlab/advertorial-classifier')

In [18]:
import pandas as pd

df1 = pd.read_excel('./data/業配文訓練資料_11126.xlsx', sheet_name='training_set_20220524')
df2 = pd.read_excel('./data/業配文訓練資料_11126.xlsx', sheet_name='training_set_20220525')
df3 = pd.read_excel('./data/業配文訓練資料_11126.xlsx', sheet_name='training_set_20220526')

df4 = pd.read_excel('./data/業配文訓練資料_3300.xlsx', sheet_name='training_set_20220524')
df5 = pd.read_excel('./data/業配文訓練資料_3300.xlsx', sheet_name='training_set_20220525')
df6 = pd.read_excel('./data/業配文訓練資料_3300.xlsx', sheet_name='training_set_20220526')

In [19]:
df = pd.read_csv('./data/milelens_advertorial_dataset_formatted.csv')
df

                                                   text  label
0     這幾天冰箱被阿嬤塞滿食物 多到吃不完，到底能不能退我、就、問？ 冰箱如果臭ㄉㄧㄠˇ真的很麻煩...      1
1      讓我選一個安心退？ 精神出軌但性事很合／肉體出軌但性事不合 有搞錯咩？！跟me怎麼可能不合！！！      1
2     創作者們走鐘獎墊超高！ 男女第一名各是誰？ ▶️新片這裡看：https://youtu.be...      1
3     痛到大爆哭！我為什麼要答應拍這個企劃： https://youtu.be/V_-pzW_WZ...      1
4     就是…我要開咖啡廳了，影片內我有說明原因 總之我雖然是一個膽小保守的人(真的啦 但我又告訴自...      1
...                                                 ...    ...
4595  我這幾天在北海道訓練滑雪，我沒有辦法放任何滑雪影片出來dan，我的教練日本溫柔男一拍完我一看...      0
4596  最近我有一個客戶D，他跟我常常講話到一半就不見，所以我經常搞不懂要如何繼續進行工作，後來他突...      1
4597  身為一個甜食女王(我這稱號是來真的，我可以不吃正餐只吃甜食)  跟表弟妹分享ㄧ下胖妹我到日本...      0
4598           首次Tiny員旅！我車技真的不錯！你們說是不是！（你們最關心的餐廳資訊在資訊欄）      0
4599  婊姐必請podcast 讓你快速掌握本周國際新聞可以跟別人聊天  【二百五新聞週報1229】...      1

[4600 rows x 2 columns]

In [20]:
df1to6 = pd.concat([df1, df2, df3, df4, df5, df6]).dropna().reset_index(drop=True)[['post_text', 'cate']].rename(columns={'post_text':'text','cate':'label'})
df1to6['label'] = df1to6.apply(lambda x: 1 if x.label == 'yes' else (0 if x.label == 'no' else -1), axis=1) 
df1to6[df1to6.label==-1]

Empty DataFrame
Columns: [text, label]
Index: []

In [21]:
df = pd.concat([df, df1to6]).drop_duplicates().reset_index(drop=True)
df

                                                    text  label
0      這幾天冰箱被阿嬤塞滿食物 多到吃不完，到底能不能退我、就、問？ 冰箱如果臭ㄉㄧㄠˇ真的很麻煩...      1
1       讓我選一個安心退？ 精神出軌但性事很合／肉體出軌但性事不合 有搞錯咩？！跟me怎麼可能不合！！！      1
2      創作者們走鐘獎墊超高！ 男女第一名各是誰？ ▶️新片這裡看：https://youtu.be...      1
3      痛到大爆哭！我為什麼要答應拍這個企劃： https://youtu.be/V_-pzW_WZ...      1
4      就是…我要開咖啡廳了，影片內我有說明原因 總之我雖然是一個膽小保守的人(真的啦 但我又告訴自...      1
...                                                  ...    ...
18895  與您緣份實在很深\n無法解釋您多麼珍貴\n謝謝您一直在無形之中的幫助🙏🏻\n\n每次為您獻上...      0
18896  #馬克先生很難聊天系列\n\n這幾天都泡在自己的廠房，本來都幻想哪天進到自己的廠房一定要攤在...      0
18897  Let’s Fill out with  #love❤️‍🔥 ❤️🚀💜 如果有聽When M...      0
18898  潮鞋特展，原本以為只是在展示各家聯名潮鞋的展覽，卻意外發現這個展覽讓我理解很多球鞋發展的歷史...      1
18899  ❤️過年前在忙些什麼❤️\n\n最近一直在忙著研究和趕工做出這款7脈輪開運水晶吊飾（不知為何...      1

[18900 rows x 2 columns]

In [25]:
df.to_csv('./data/milelens_advertorial_dataset_formatted_18900.csv',index=False)